.navbar {
  overflow: hidden;
  margin-top: 30px;
  box-shadow: 0 2px 6px white;
  left: 0;
  right: 0;
}


.dropdown {
  float: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a1a1c;
  line-height: 0.5;
  font-family: Inter,Roboto,Helvetica,Arial,sans-serif;
  text-align: center;
  margin-left: 160px;
  padding-left: 14px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 16px;
  text-decoration: none;
  overflow: hidden;
}

.dropdown .dropbtn {
  margin: 0;
  color: aliceblue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  background-color:black;
  line-height: 0.5;
  font-family: Inter,Roboto,Helvetica,Arial,sans-serif;
  border: none;
  outline: none;
  padding: 14px 30px 16px;
  font-family: inherit;
  margin: 0;
}


.navbar a:hover, .dropdown:hover .dropbtn {
  
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px black;
  z-index: 1;
  background-color: black;
}

.dropdown-content button {
  float: none;
  font-size: 15px;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.states{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: 1.5;
  font-family: Inter,Roboto,Helvetica,Arial,sans-serif;
  text-align: center;
  margin-left: 150px;
  margin-top: 20px;
  padding-left: 14px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 16px;
  text-decoration: none;
  overflow: hidden;
}
.states .statebutton{
  float: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  line-height: 1.5;
  font-family: Inter,Roboto,Helvetica,Arial,sans-serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
  
}

.category {
  margin-left: 150px;
  margin-top: 60px;
  padding-left: 14px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 16px;
  text-decoration: none;
  overflow: hidden;
}


.table {
    width: 70%;
    border:1px solid black;
  
}
.table th{
  
  border:1px solid black;

}
.table td{
  
  border:1px solid black;

}
